BOT_TOKEN=
DATABASE_URL=postgresql://postgres.xxx:password@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
SECRET_TOKEN=change_me_to_random_string
RENDER_APP_URL=https://your-bot.onrender.com
ADMIN_IDS=5228288204,7393739670
ALLOWED_DOMAINS=90jilia2.com,www.90jilia2.com
GAME_ID_REGEX=^PH90[A-Za-z0-9]{4,12}$
ENABLE_LEGACY_PLAYER_LINK=false
